@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Cormorant Garamond";
    src: url("../node_modules/@fontsource/cormorant-garamond/files/cormorant-garamond-latin-400-normal.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("../node_modules/@fontsource/cormorant-garamond/files/cormorant-garamond-latin-500-normal.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("../node_modules/@fontsource/cormorant-garamond/files/cormorant-garamond-latin-700-normal.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@layer utilities {
    .opulence-title-font {
        font-family: 'Cormorant Garamond', serif;
    }
}

@layer base {
    html {
        scroll-behavior: smooth;
        height: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        min-height: 100%;
        position: relative;
        font-family: "Space Grotesk", sans-serif;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #120403;
    }

    ::-webkit-scrollbar-thumb {
        background: #c2410c;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #ea580c;
    }
}